aiohttp==2.0.7
aniso8601==3.0.0
asn1crypto==0.24.0
async-timeout==3.0.0
attrs==18.1.0
beautifulsoup4==4.6.0
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
cryptography==2.2.2
Django==2.2.24
django-crontab==0.7.1
django-debug-toolbar==1.9.1
django-filter==1.1.0
django-graphiql-debug-toolbar==0.1.1
djangorestframework==3.9.1
ecdsa==0.13.3
future==0.16.0
gevent==1.4.0
graphene==2.1
graphene-django==2.0.0
graphql-core==2.0
graphql-relay==0.4.5
gunicorn==19.9.0
idna==2.6
idna-ssl==1.1.0
iso8601==0.1.12
multidict==4.3.1
promise==2.1
psycopg2-binary==2.8.3
pyasn1==0.4.2
pycparser==2.18
python-jose==3.0.0
pytz==2018.4
requests==2.20.0
rsa==3.4.2
Rx==1.6.1
singledispatch==3.4.0.3
six==1.11.0
sqlparse==0.2.4
typing==3.6.4
urllib3==1.24.2
yarl==0.10.0
